name: .NET CI with Publish

on: push
  #push:
    #branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.x
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore
      - name: Test
        run: dotnet test --no-build --verbosity normal

  push:
    
    #needs: build

    runs-on: ubuntu-latest
    if: github.event_name == 'push'

    env:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      DOCKERFILE_PATH: BattleshipStateTracker.WebAPI/Dockerfile
      DOCKER_REPO: battleship-state-tracker
      IMAGE_NAME: battleship-state-tracker-image

    steps:
      - uses: actions/checkout@v2

      - name: Build image
        run: docker build . --file $DOCKERFILE_PATH --tag $DOCKER_USERNAME/$IMAGE_NAME

      - name: Log into registry
        run: echo "$DOCKER_PASSWORD" | docker login -u $DOCKER_USERNAME --password-stdin

      - name: Push image
        run: docker push $DOCKER_USERNAME/$DOCKER_REPO
